* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  font-family: sans-serif;
  height: 100vh;
  color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "header"
    "izquierda"
    "contenido"
    "derecha"
    "footer";
}

@media (min-width: 500px) {
  .container {
    grid-template-areas: 
     "primero segundo tercero"
     "cuarto quinto tercero"
     "sexto septimo tercero"
  }
}

.primero {
  grid-area: primero;
  background-color: #F90C2C;
}

.segundo {
  grid-area: segundo;
  background-color: white;
  padding: 50px;
}

.tercero {
  grid-area: tercero;
  background-size: cover; /* <-- background size */
  background-position: center; /* <-- background position */
  background-image: url(images/assets_1.jpg);
}

.cuarto {
  grid-area: cuarto;
  background-size: cover; /* <-- background size */
  background-position: center; /* <-- background position */
  background-image: url(images/assets_2.jpg);
}

.quinto {
  grid-area: quinto;
  background-color: #F90C2C;
  text-align: center;
  padding: 50px;
  font-size: 40px;
}

.sexto {
  grid-area: sexto;
  background-color: #F90C2C;
}

.septimo {
  grid-area: septimo;
  background-color: white;
  background-size: cover; /* <-- background size */
  background-position: center; /* <-- background position */
  background-image: url(images/assets_3.jpg);
}

.segundo input {
  margin: auto;
  margin-bottom: 10px;
  display: block;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

.segundo input[type=text] {
  border: none;
  border-bottom: 1px solid #ccc;
}

.segundo input[type=submit] {
  padding: 6px;
  width: 50%;
  color: white;
  cursor: pointer;
  background-color: #F90C2C;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
}

input[type=submit]:hover {
  background-color: #740413;
  width: 60%;
}